@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    San Diego, CA 92114<br />
    <abbr title="Phone">P:</abbr>
    970.412.2054
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rabago.jason@gmail.com">rabago.jason@gmail.com</a><br />
    <strong>Website:</strong> <a href="https://jasonrabago.website/">www.jasonrabago.website</a>
</address>