@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Makeup Tracker</h1>
    <img src="~/Content/images/makeup.png" />

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Keep Track of Your Makeup</h2>


    </div>
    <div class="col-md-4">
        <h2>Check Inventory on the Go</h2>


    </div>
    <div class="col-md-4">

    </div>
</div>